{% load static tailwind_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>Bejelentkezés</title>
    {% tailwind_css %}
</head>
<body class="bg-black text-white">
    {% include 'nav.html' %}
    <section class="w-full h-screen flex items-center justify-center">
        <!--Kép-->
        <section class="bg-yellow-500 w-[500px] h-[600px] bg-[url('./img/12.png')] bg-cover bg-no-repeat bg-center">
        </section>
        <!--Inputok-->
        <section class="bg-white h-[600px] w-[500px] flex items-center justify-center">
            <section class="h-[500px] flex items-center justify-center">
            <form method="post" class="">
                <p class="text-xl text-black mb-4">Üdvözlünk újra Kiskolbasz! 💋</p>
                {% csrf_token %}
                {% if error %}
                <p style="color:red;">{{ error }}</p>
                {% endif %}
                <input type="text" name="username" class="p-2 w-[350px] rounded-md border-2 border-black mb-4 text-black" placeholder="Kolbásznév" required><br>
                <input type="password" name="password" class="p-2 w-[350px] rounded-md border-2 border-black mb-4 text-black" placeholder="Jelszó" required><br>
                <button type="submit" class="text-black cursor-pointer">Bejelentkezés</button>
            </form>
            </section>
        </section>
    </section>
</body>
</html>